<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="2.5.0" targetFramework="portable45-net45+win8+wpa81" developmentDependency="true" />
  <package id="ksemenenko.GoogleAnalytics" version="1.0.3.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="LinqToCalil" version="1.0.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Portable.BouncyCastle-Signed" version="1.7.0.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Realm" version="1.5.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Realm.Database" version="1.5.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Realm.DataBinding" version="1.1.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="3.0.0.482510" targetFramework="portable45-net45+win8+wpa81" />
</packages>